

body, html {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    color: white;
    background-image: url('ivoand_full.jpg');
    background-attachment: fixed;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax {
    width: 100%;
    height: 100vh;
  }

.container {
    position: relative;
    margin: 0;
    width: 100%;
    height: fit-content;
    background: rgba(71, 71, 71, 0.397);
    border-bottom: 1px solid rgb(41, 41, 41);
}


.logo-layout {
    position: absolute;
    top: calc(45% - 100px);
    left: calc(20% - 105px);
}

#img1 {
    width: 100%;
    height: auto;
}
#img2 {
    display: none;
    width: 100%;
}

.vards {
    fill: rgb(255, 255, 255);
    width: 40vw;
}
@keyframes colorise {
    0%   {fill: red; animation-duration: 4s;}
    25%  {fill: yellow;}
    50%  {fill: blue;}
    100% {fill: red;}
    
  }

.flex-container {
    display: flex;
    flex-direction: row-reverse;
}

h1 {
    margin: 0;
    padding-top: 30px;
    text-align: center;
}
.text-layout-1, .text-layout-2 {
    width: 60%;
    height: fit-content;
    margin: 48px;
    padding: 6px 16px;
    background: rgba(104, 104, 104, 0.144);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.301)
}
.text-layout-1 {
    width: 20%;
}
.text-layout-3 {
    width: 30%;
    height: 200px;
    margin: 48px;
    padding: 6px 16px;
    background: rgb(83, 83, 83);
    box-shadow: 5px 5px 4px rgba(255, 255, 255, 0.301)
}

p {
    text-indent: 50px;
    text-align: justify;
}
img {
    max-width: 100%;
    height: auto;
}
#contacts {
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 130px;

}
  
#contacts > a > svg {
    width: 60px;
    margin: 0 25px 0 25px;
    
}


/* hover līdz telefona formātam */

@media only screen and (min-width: 768px) {
    .vards:hover {
        animation: colorise 5s infinite;
    }
    #contacts > a:hover > svg {
        width: 80px;
        transition: .5s;
        transform: rotate(720deg);
    }
}


/* telefonam */

@media only screen and (max-width: 768px) {
    body, html {
        background-image: url('ivoand_mob.jpg');
        background-position: top;
    }
    #img1 {
        display: none;
    }
    #img2 {
        display: block;
    }
    .logo-layout {
        top: calc(75% - 100px);
        left: calc(35% - 105px);
    }
    .vards {
        width: 50vw;
    }
    .text-bgr {
        top: calc(50% - 0px);
        left: calc(36% - 77px);
    }
    .flex-container {
        flex-direction: column;
        align-items: center;
    }
    .text-layout-1 {
        width: 33%;
    }
    .text-layout-2 {
        width: 82%;
    }
}